/*Demo */
.demo {
  background-color: skyblue;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Toggle Switch*/
.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
}

.toggler {
  color: cyan;
  font-weight: 600;
  transition: 0.5s;
}

.active {
  color: blue;
}


.toggle {
  width: 100px;
  height: 55px;
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
}

.check {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked~.switch {
  left: 47%;
}

.switch {
  background-color: blue;
  display: block;
  position: relative;
  bottom: 100%;
  border-radius: 50px;
  height: 39px;
  width: 39px;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.08s;
  left: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


/* secondPart */
.secondePart {
  background-color: teal;
}

.mod {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: solid 1 px black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}